{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "sourceType": "module",
    "extraFileExtensions": [".vue"]
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-prettier-vue"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier-vue/recommended",
    "prettier"
  ],
  "rules": {
    "no-var": "off",
    "no-fallthrough": "off",
    "vue/multi-word-component-names": "off",
    "vue/attribute-hyphenation": "off",
    "prettier-vue/prettier": ["error"]
  },
  "env": {
    "browser": true
  }
}
