name: Pull Request Ready
on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  request:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Request Review
      uses: uesteibar/reviewer-lottery@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}